#firstpart {
	height: 500px;
}
table#results {
	background-color: rgba(0,0,0, .8);
	margin: auto;
}
table#results tbody {
	height: 100px;
	overflow: auto;
}
table#results td,
table#results th {
	border: 2px solid #fff;
	box-sizing: border-box;
	font-size: .9vw;
	font-weight: 600;
	text-align: center;
	width: 184px;
	padding: 0;
	color: #fff;
	border-collapse: unset;
}
table#results td {
}
table#results thead > tr,
table#results tbody{
	display:block;
	background-color: rgba(0,0,0, .8);
}
table#results thead > tr th {
	color: gold;
}
table#results thead > tr th:last-child,
table#results tbody tr td:last-child {
	border-right: none;
}